/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body{
    background: url("https://us.123rf.com/450wm/junce/junce1704/junce170400163/75968904-office-worker-is-holding-a-blank-smartphone-screen-in-morning-scene-office.jpg?ver=6");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Basic styling for the header and navigation */
header {
    background-color: transparent;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

nav ul {
    list-style: none;
    color: #fff;
}

nav ul li {
    display: inline;
    padding-left: 70px;
    font-size: 20px;
}

nav ul li:hover{
    transition: 1s;
    font-size: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

/* Styling for the main content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#form-section, #student-cards {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Styling for the form */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 800;
    color: black;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="text"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
height: 30px;
}
select{
    height: 50px;
}
button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-left: 20%;
    margin-top: 40px;
}

button[type="submit"]:hover {
    background-color: black;
}

#gender{
    width: 93%;
}
#major{
    width:93% ;
}

#table{
    width: 60%;
    text-align: center;
}

.student-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: calc(50% - 20px); 
    vertical-align: top; 
    box-sizing: border-box; 
}


.student-card:nth-child(odd) {
    clear: left; 
}

.student-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.student-card h3 {
    font-size: 18px;
    margin: 0;
}

.student-card p {
    font-size: 14px;
    margin: 0;
}



footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 50px;
    opacity: 0.8;
}



main{
    background-color: #fff;
    opacity: 0.7;
    border-radius: 30px;
    padding-left: 60px;
    width: 700px;
}

@media (max-width: 667px) {
    nav ul {
      float: none;
      width: 100%;
    }
    header{
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
  }

  @media (max-width: 667px) {
   main {
      float: none;
      width: 100%;
    }

    footer{
       width: 100%;
       padding-left: 80px;
       display: flex;
       justify-content: center;
    }
    #major{
    width:95% ;
}
#gender{
    width:96% ;
    padding: 10px;
}
  }

@media (max-width:1024) {
    footer{
        width: 100%;
    } 
    nav ul{
        padding-right: 110px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
    }
}

@media (max-width:1180) {
    nav ul{
        padding-right: 78px;
    }
}